<!DOCTYPE html>
<html lang="en">
<head>
    {{ template "head.html" }}
</head>
{{ template "header.html" }}
<body>


    <div class="content">

        <h2>{{.PageTitle}}</h2>

        {{range .Posts}}
        <div class="post" id="{{.ID}}">
            <p>
                Post ID : <a href=#{{.ID}}>#{{.ID}}</a><br>
                &#128221; <b>{{.Text}}</b> <br>
                &#128279; <a href="{{.Link}}" target="_blank">{{.Link}}</a>
                <div class="category-tag">
                    <a href="../boards/{{.Category}}" class="category-tag">
                    <span>{{.Category}}</span></a>
                </div>
            </p>
            <br>
        </div>
        {{end}} 

      </div>

</body>
</html>