<!DOCTYPE html>
<html lang="en">
<head>
    {{ template "head.html" }}
</head>
{{ template "header.html" }}
<body>

    <div class="content">

        <h2>{{.PageTitle}}</h2>
        <p>Categories:
            <a href="/boards/all" class="category-tag"><span>all</span></a>
            <a href="/boards/arts" class="category-tag"><span>arts</span></a>
            <a href="/boards/diy" class="category-tag"><span>diy</span></a>
            <a href="/boards/films-series" class="category-tag"><span>films & series</span></a>
            <a href="/boards/misc" class="category-tag"><span>misc</span></a>
            <a href="/boards/music" class="category-tag"><span>music</span></a>
            <a href="/boards/nature" class="category-tag"><span>nature</span></a>
            <a href="/boards/politics-society" class="category-tag"><span>politics & society</span></a>
            <a href="/boards/science" class="category-tag"><span>science</span></a>
            <a href="/boards/sports" class="category-tag"><span>sports</span></a>
            <a href="/boards/tech" class="category-tag"><span>tech</span></a>
        </p>

        <!-- Pagination -->
        <br>
        <div class="container-fluid">
            {{if .IsPrevPage }}
            <button type="button" class="btn btn-primary" onclick="window.location='/boards/{{.PageTitle}}/{{.PreviousPage}}';">Previous</button>
            {{end}}
            <button type="button" class="btn btn-light">{{.CurrentPage}}</button>
            {{if .IsNextPage }}
            <button type="button" class="btn btn-primary" onclick="window.location='/boards/{{.PageTitle}}/{{.NextPage}}';">Next</button>
            {{end}}
        </div>
        <br>

        {{range .Posts}}
        <div class="post" id="{{.ID}}">
            <p>
                Post ID : <a href=#{{.ID}}>#{{.ID}}</a><br>
                &#128221; <b>{{.Text}}</b> <br>
                &#128279; <a href="{{.Link}}" target="_blank">{{.Link}}</a>
                <div class="category-tag">
                    <a href="../boards/{{.Category}}" class="category-tag">
                    <span>{{.Category}}</span></a>
                </div>
            </p>
        </div>
        {{end}}
        <br>
        <div class="container-fluid">
            {{if .IsPrevPage }}
            <button type="button" class="btn btn-primary" onclick="window.location='/boards/{{.PageTitle}}/{{.PreviousPage}}';">Previous</button>
            {{end}}
            <button type="button" class="btn btn-light">{{.CurrentPage}}</button>
            {{if .IsNextPage }}
            <button type="button" class="btn btn-primary" onclick="window.location='/boards/{{.PageTitle}}/{{.NextPage}}';">Next</button>
            {{end}}
        </div>
      </div>
      <br>
</body>
</html>