<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="style/style.css">
    <title>FreeBoard</title>
</head>

<body>

    <div class="topnav">
      <a href="/">Home</a>
      <a href="/board">Board</a>
      <a href="/post">Post</a>
    </div>

      <div class="content">
        <h2>Welcome on FreeBoard</h2>
        <p><i>Free as in Freedom</i></p>
        <br>
        <p>
          FreeBoard is a place to share links about <i>almost</i> everything.
          The goal of this platform is to give a user a lot of different content. The more people use FreeBoard, the more it become interesting. 
          <br>
          There is no votes. No comments. 
          This way, you are not only staring at "trends" or "hot". Every post have the same value as another one, despite of the content.
          <br>
          We want to remind you that everything here is anonymous. But if you don't respect the  <a href="/rules">rules</a>, you will be banned.
        </p>
        <p>
          Have a good time on FreeBoard ! <br> -<i>The FreeBoard team</i>
        </p>
        <br>
        <p>GitHub repo of this project : <a href="https://github.com/eze-kiel/freeboard">github.com/eze-kiel/freeboard</a>
          <br>Contact: ezekiel@fastmail.com
        </p>
      </div>

</body>
</html>