<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="style/style.css">
    <title>FreeBoard</title>
</head>

<body>

    <div class="topnav">
      <img src="../assets/logo.png" alt="FreeBoard" style="float:left;width:80px;height:80px;">      
      <a href="/">Home</a>
      <a href="/board">Board</a>
      <a href="/post">Post</a>
    </div>

      <div class="content">
        <h2>Welcome on FreeBoard</h2>
        <p><i>Free as in Freedom</i></p>
        <br>
        <p>FreeBoard is a place to share links about <i>almost</i> everything. Make sure to check the <a href="/rules">rules</a> before posting.</p>
        <br>
        <p>GitHub repo of this project : <a href="https://github.com/eze-kiel/freeboard">github.com/eze-kiel/freeboard</a></p>
      </div>

</body>
</html>