<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="style/style.css">
    <title>FreeBoard</title>
</head>

<body>

    <div class="topnav">
        <a href="/">Home</a>
        <a href="/board">Board</a>
        <a href="/post">Post</a>
    </div>

      <div class="content">
        <h2>Welcome on FreeBoard</h2>
        <p><i>Free as in Freedom</i></p>
      </div>

</body>
</html>