<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="style/style.css">
    <script type="text/javascript" src="js/char-limit.js"></script>
    <title>FreeBoard</title>
</head>

<body>

    {{if .Success}}
        <div class="content">
            <h2>Thanks for your new post !</h2>
        </div>
    {{else}}
    <div class="topnav">
        <a href="/">Home</a>
        <a href="/board">Board</a>
        <a href="/post">Post</a>
      </div>
            
        <div class="content">
            <h2>Share something !</h2>
            <p style="color: red;">You must enter a text AND a link associated.</p>
            <form method="POST">
                <label>Your post:</label><br />
                <textarea name="post" rows="10" cols="50" onkeydown="limit(this)" onkeyup="limit(this)"></textarea><br />
                <label>Link:</label><br />
                <input type="text" name="link"><br><br>
                <input type="submit" value="Send">
                <input type="reset" value="Erase all">
            </form>
        </div>
        {{end}}

</body>
</html>