<!DOCTYPE html>
<html lang="en">
<head>
    {{ template "head.html" }}
</head>
{{ template "header.html" }}
<body>
    {{if .Success}}
        <div class="alert alert-success" role="alert" style="border-radius: 5px; margin: 10px; border-width: 1px; border-color: green;">
            Thank you for posting !
        </div>
        <div class="container-fluid">
            Redirecting you to boards...
        </div>
        <!-- Auto redirect insted of button -->
        <meta http-equiv="refresh" content="1;url=/boards/all" />

        <!-- <div class="container-fluid">
            <button type="button" class="btn btn-outline-success btn-lg" onclick="location.href = '/boards/all';">Go back to boards</button>
        </div> -->
    {{else}}
                
        <div class="content">
            <h2>Share something !</h2>
            <div class="container-fluid">
                <div class="alert alert-danger" role="alert">
                    You must enter a text AND a link.
                </div>
                <p>Note that you can't use URL shortener. The URL have to contain 'https://'</p>
                <form method="POST">
                    <label for="inputHelpBlock">Your post</label>
                    <textarea class="form-control" name="post" rows="7" placeholder="This link is great because..." onkeydown="limit(this)" onkeyup="limit(this)"></textarea>

                    <p style="font-size: 12px;" >(500 characters max.)</p>

                    <label for="inputHelpBlock">Link</label>
                    <input type="url" class="form-control" name="link" placeholder="http://..."> <br>

                    <label for="exampleFormControlSelect1">Category</label>
                    <select class="form-control" name="category" id="exampleFormControlSelect1">
                    <option>arts</option>
                    <option>films-series</option>
                    <option>music</option>
                    <option>nature</option>
                    <option>politics-society</option>
                    <option>science</option>
                    <option>sports</option>
                    <option>tech</option>
                    </select>

                    <br>
                    <button type="submit" class="btn btn-success">Post</button>
                    <button type="reset" class="btn btn-default">Erase all</button>
                </form>
            </div>
        </div>
    {{end}}

</body>
</html>