<!DOCTYPE html>
<html lang="en">
<head>
    {{ template "header.html" }}
</head>

<body>

    {{if .Success}}
        <div class="content">
            <h2>Thanks for your new post !</h2>
        </div>
    {{else}}
    <div class="topnav">
        {{ template "navbar.html" }}
      </div>
                
        <div class="content">
            <h2>Share something !</h2>
            <p style="color: rgb(210, 0, 0);">You must enter a text AND a link.</p>
            <p>Note that you can't use URL shortener. The URL have to contain 'https://'</p>
            <form method="POST">
                <label>Your post:</label><br />
                <textarea name="post" rows="10" cols="50" onkeydown="limit(this)" onkeyup="limit(this)"></textarea><br />
                <p style="font-size: 12px;" >(500 characters max.)</p><br>
                <label>Link:</label><br />
                <input type="text" name="link"><br><br>
                <input type="submit" value="Send">
                <input type="reset" value="Erase all">
            </form>
        </div>
    {{end}}

</body>
</html>