<!DOCTYPE html>
<html lang="en">
<head>
    {{ template "header.html" }}
</head>

<body>
    <div class="topnav">
        {{ template "navbar.html" }}
    </div>
    
    <div class="content">

        <h2>{{.PageTitle}}</h2>

        <div class="postForm">

        </div>

        {{range .Posts}}
        <div class="post" id="{{.ID}}">
            <p>
                Post ID : <a href=#{{.ID}}>#{{.ID}}</a><br>
                &#128221; <b>{{.Text}}</b> <br>
                &#128279; <a href="{{.Link}}" target="_blank">{{.Link}}</a>
                <div class="category-tag">
                    <a href="#" target="_blank" class="category-tag">
                    <span>{{.Category}}</span></a>
                </div>
            </p>
        </div>
        {{end}} 
        <br>
        <button onClick="window.location.reload();" class="btn btn-default">Another one</button>

      </div>

</body>
</html>