<!DOCTYPE html>
<html lang="en">
<head>
    {{ template "head.html" }}
</head>
{{ template "header.html" }}

<body>

      <div class="content">
        <h2>Rules of Freeboard</h2>
        <div class="container-fluid">

        <ol>
            <li>No spam is allowed here.</li>
            <li>No content relative to pornography/illegal activities will be accepted.</li>
            <li>Content in relationship with racism/discrimation is not tolerated.</li>
            <li>Please be polite and respectful.</li>
          </ol>
        
        <p>Have a good time on FreeBoard !</p>
        </div>
      </div>

</body>
</html>