<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="style/style.css">
    <title>FreeBoard</title>
</head>

<body>

    <div class="topnav">
        <a href="/">Home</a>
        <a href="/board">Board</a>
        <a href="/post">Post</a>
      </div>

      <div class="content">
        <h2>Rules of Freeboard</h2>
        <ol>
            <li>No spam is allowed here.</li>
            <li>No content relative to pornography/illegal activities will be accepted.</li>
            <li>Content in relationship with racism/discrimation is not tolerated.</li>
            <li>Please be polite and respectful.</li>
          </ol>
        
        <p>Have a good time on FreeBoard !</p>
      </div>

</body>
</html>